<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<h2>Update User Info</h2>
<br>

<form th:action="@{/admin/updateUser}" th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}"/>

    Username: <input type="text" th:field="*{username}"/>
    <br><br>
    Email: <input type="text" th:field="*{email}"/>
    <br><br>
    Password: <input type="text" th:field="*{password}"/>
    <br><br>
    <input type="submit" value="OK">
    <input type="button" value="CANCEL" onclick="window.location.href='cancel'"/>

</form>

</body>
</html>
