<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<style>
    .error {
        color: red;
    }
</style>
<body>
<h2>UPDATE USER</h2>
<br>

<form th:action="@{/admin/updateUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Username:</label>
    <input type="text" th:field="*{username}"/>
    <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Leave blank to keep it as is.">
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    </div>
    <label>Email:</label>
    <input type="text" th:field="*{email}"/>
    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"/>
    </label>
    <br>
    <input type="submit" value="OK">
    <input type="button" value="CANCEL" onclick="window.location.href='cancel'"/>
</form>
</body>
</html>
