<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<h2>Add new user</h2>
<br>

<form th:action="@{/admin/saveUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    Username <input type="text" th:field="*{username}"/>
    <br><br>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    Email <input type="text" th:field="*{email}"/>
    <br><br>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"/>
    </label>
    <br>
    <input type="submit" value="OK">
    <input type="button" value="CANCEL" onclick="window.location.href='cancel'"/>
</form>
</body>
</html>
